<!DOCTYPE html>
<html>
    <head>
        <title>My blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/"> My blog</a></h1>
        </header>

        <article>
            <time>published: 1.12.2021, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>Welcome to the blog</p>
        </article>

        <article>
            <time>published: 1.12.2021, 12:16</time>
            <h2><a href="">My second post</a></h2>
            <p>You can read and write blogs</p>
        </article>
    </body>
</html>